{eval $sidebarShowIndex = 0;$sidebarActiveIndex=0}
{template pub/app/main-header.html|tinyphp-ui}

      <div class="main-content-header ps-lg-4">
        <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
          <a class="btn btn-sm mb-2 mb-md-0" href="https://github.com/twbs/bootstrap/blob/main/site/content/docs/5.1/getting-started/introduction.md" title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
          <h1 class="bd-title" id="content">简介</h1>
        </div>
         
        <p class="bd-lead">Tinyphp-ui 是一款面向PHP全栈工程师的前端UI组件库，后端基于tinyphp framework， 前端基于webpack整合了bootstrap+jquery。</p>
      </div>
        <div class="main-content-menu mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
          <strong class="d-block h6 my-2 pb-2 border-bottom">索引</strong>
          <nav id="TableOfContents" class="navbar-nav">
  <ul>
    <li><a href="#快速开始">快速开始</a>
      <ul>
        <li><a href="#css-文件">CSS 文件</a></li>
        <li><a href="#js-文件">JS 文件</a>
          <ul>
            <li><a href="#集成包">集成包</a></li>
            <li><a href="#分开加载">分开加载</a></li>
            <li><a href="#模块">模块</a></li>
            <li><a href="#bootstrap-组件">Bootstrap 组件</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#入门模板">入门模板</a></li>
    <li><a href="#重要的全局设置">重要的全局设置</a>
      <ul>
        <li><a href="#html5-文档类型doctype">HTML5 文档类型（doctype）</a></li>
        <li><a href="#响应式布局相关的-meta-标签">响应式布局相关的 <meta> 标签</a></li>
        <li><a href="#css-盒模型">CSS 盒模型</a></li>
        <li><a href="#reboot">Reboot</a></li>
      </ul>
    </li>
    <li><a href="#社区">社区</a></li>
  </ul>
</nav>
        </div>
      

      <div class="main-content-body ps-lg-4">
    {$doccontent}
      </div>
      
{template pub/app/main-footer.html}