 {template pub/header.htm}
<div class="card" style="margin: 10% 15%">
	<h5 class="card-header">{$messagebox['subject']}</h5>
	<div class="card-body">
		<h5 class="card-title">{$messagebox['title']}</h5>
		<p class="card-text">{$messagebox['message']}</p>
		<a id="TINY_UI_messageGoto" href="javascript:void(0)" class="btn btn-primary">确认返回</a>
	</div>
	<div class="card-footer text-muted">
		<span id="TINY_UI_messageTimeout">{$messagebox['timeout']}</span>秒后自动跳转
	</div>
</div>
<script type="text/javascript">
(function(id, gid, timeout, url) {
    timeout = parseInt(timeout) || 15;
    url = url || '/';
    var messageToUrl = function(t) {
        if (t == 0) { 
            location.href = url;
            return;
        }
        document.getElementById(id).innerHTML = t;
        t--;
        setTimeout(function(){
            //messageToUrl(t);
        }, 1000);
    } 
    messageToUrl(timeout);
    document.getElementById(gid).onclick = function() {
        location.href = url;
    }
})('TINY_UI_messageTimeout', 'TINY_UI_messageGoto', '{$messagebox['timeout']}', '{$messagebox['tourl']}');
</script>
{template pub/footer.htm}
