{template pub/admin/main-header.html}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- .content-header -->
	<section class="content-header">
		<div class="content-title">
			<div class="content-title-heading">
				<div class="content-title-icon">
					<i class="bi bi-menu-button icon-gradient bg-mean-fruit"></i>
				</div>
				<div class="">
					Duallistbox 双向选择菜单
					<div class="content-title-subheading">双向选择框</div>
				</div>
			</div>
			<div class="content-title-actions">
				<a class="btn btn-dark btn-icon btn-shadow me-2" target="_blank" href="https://itsjavi.com/bootstrap-colorpicker/"> <i class="bi bi-filetype-doc"></i> Docs
				</a> <a class="btn btn-success btn-icon btn-shadow" target="_blank" href="https://github.com/itsjavi/bootstrap-colorpicker"> <i class="bi bi-github"></i> View on Github
				</a>

			</div>
		</div>
	</section>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="main-content">
		<div class="card main-card">
			<div class="card-header">
				<h3 class="card-title">Duallistbox</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label>Multiple</label> <select class="duallistbox" multiple="multiple">
						<option selected>Alabama</option>
						<option>Alaska</option>
						<option>California</option>
						<option>Delaware</option>
						<option>Tennessee</option>
						<option>Texas</option>
						<option>Washington</option>
					</select>
				</div>
				<hr>
				<label>source code:</label>
				<code class="language-javascript" data-text-target="#codesource"></code>

			</div>
			<!-- /.card -->
		</div>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script id="codesource">
$.load('duallistbox').then(()=>{
	$('.duallistbox').duallistbox(); 
})
</script>
{template pub/admin/main-footer.html}
