     <aside class="ui-sidebar" >
      <nav class="collapse ui-sidebar-links" id="uiMainSidebar" aria-label="Docs navigation"><ul class="list-unstyled mb-0 py-3 pt-md-1">
    {loop $ui['sidebar'] $sidebarIndex $sidebar}
      <li class="mb-1">
      
        <a href="{$sidebar['href']}" class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#sidebar-collapse-{$sidebarIndex}" aria-expanded="true" aria-current="true"><i class="bi bi-chevron-right"></i><i class="bi bi-chevron-down"></i>
          {$sidebar['name']}
        </a>
        {if $sidebar['children']}
        <div class="collapse {if strtolower($sidebar['controller']) == strtolower($request->getControllerName())}show{/if}" id="sidebar-collapse-{$sidebarIndex}">
          <ul class="list-unstyled fw-normal pb-1 small">
          {loop $sidebar['children'] $sidebarChildIndex $sidebarChild}
              <li><a href="{$sidebarChild['href']}" class="d-inline-flex align-items-center rounded {if strtolower($sidebar['controller']) == strtolower($request->getControllerName()) && strtolower($sidebarChild['action']) == strtolower($request->getActionName())}active{/if}" aria-current="page">{$sidebarChild['name']}</a></li>
          {/loop}
          </ul>
        </div>
        {/if}
      </li>
    {/loop}
  </ul>
  {$ui['sidebarExtra']}
</nav>
</aside>