{template pub/admin/main-header.html}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-bs-firstpage="#firstpage">


	<!-- .content-header -->
	<section class="content-header">
		<div class="content-title">
			<div class="content-title-heading">
				<div class="content-title-icon">
					<i class="bi bi-window-stack icon-gradient bg-mean-fruit"></i>
				</div>
				<div class="">
					小部件
					<div class="content-title-subheading">仪表盘部件，图表部件等</div>
				</div>
			</div>
			<div class="content-title-actions"></div>
		</div>
	</section>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="main-content">
		<h5 class="mb-2 fs-6">Widget Box</h5>

		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="card mb-3 widget-box bg-night-fade">
					<div class="widget-box-wrapper text-white">
						<div class="widget-box-left">
							<div class="widget-heading">Total Orders</div>
							<div class="widget-subheading">Last year expenses</div>
						</div>
						<div class="widget-box-right">
							<div class="widget-numbers text-white">
								<span>1896</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-box bg-arielle-smile">
					<div class="widget-box-wrapper text-white">
						<div class="widget-box-left">
							<div class="widget-heading">Clients</div>
							<div class="widget-subheading">Total Clients Profit</div>
						</div>
						<div class="widget-box-right">
							<div class="widget-numbers text-white">
								<span>$ 568</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card  main-card mb-3 widget-box bg-happy-green">
					<div class="widget-box-wrapper text-white">
						<div class="widget-box-left">
							<div class="widget-heading">Followers</div>
							<div class="widget-subheading">People Interested</div>
						</div>
						<div class="widget-box-right">
							<div class="widget-numbers text-white">
								<span>46%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="d-xl-none d-lg-block col-md-6 col-xl-4">
				<div class="card  main-card mb-3 widget-box bg-premium-dark">
					<div class="widget-box-wrapper text-white">
						<div class="widget-box-left">
							<div class="widget-heading">Products Sold</div>
							<div class="widget-subheading">Revenue streams</div>
						</div>
						<div class="widget-box-right">
							<div class="widget-numbers text-warning">
								<span>$14M</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-box">
					<div class="widget-box-outer">
						<div class="widget-box-wrapper">
							<div class="widget-box-left">
								<div class="widget-heading">订单总量</div>
								<div class="widget-subheading">统计至年底</div>
							</div>
							<div class="widget-box-right">
								<div class="widget-numbers text-success">1896</div>
							</div>
						</div>
						<div class="widget-progress-wrapper">
							<div class="progress-sm progress">
								<div role="progressbar" aria-valuenow="71" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-primary" style="width: 71%;"></div>
							</div>
							<div class="progress-sub-label">
								<div class="sub-label-left">同比增长</div>
								<div class="sub-label-right">71%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-box">
					<div class="widget-box-outer">
						<div class="widget-box-wrapper">
							<div class="widget-box-left">
								<div class="widget-heading">产品销售总额</div>
								<div class="widget-subheading">GMV</div>
							</div>
							<div class="widget-box-right">
								<div class="widget-numbers text-warning">￥3M</div>
							</div>
						</div>
						<div class="widget-progress-wrapper">
							<div class="progress-sm progress-animated progress">
								<div role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-danger" style="width: 85%;"></div>
							</div>
							<div class="progress-sub-label">
								<div class="sub-label-left">销售额增长</div>
								<div class="sub-label-right">85%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-box">
					<div class="widget-box-outer">
						<div class="widget-box-wrapper">
							<div class="widget-box-left">
								<div class="widget-heading">新客户</div>
								<div class="widget-subheading">潜在客户增量</div>
							</div>
							<div class="widget-box-right">
								<div class="widget-numbers text-danger">45,9%</div>
							</div>
						</div>
						<div class="widget-progress-wrapper">
							<div class="progress-sm progress-animated progress">
								<div role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-success" style="width: 46%;"></div>
							</div>
							<div class="progress-sub-label">
								<div class="sub-label-left">社交媒体粉丝增长</div>
								<div class="sub-label-right">46%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!-- .row widget-chart -->
		<h5 class="mb-2 fs-6">Widget Chart</h5>
		<div class="row">
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-chart ">
					<div class="widget-chart-content">
						<div class="icon-wrapper rounded">
							<div class="icon-wrapper-bg bg-info"></div>
							<i class="bi bi-kanban text-info"></i>
						</div>
						<div class="widget-numbers text-danger">
							<span>￥294</span>
						</div>
						<div class="widget-subheading pt-2 opacity-100 text-info fw-bold">客单价</div>
						<div class="widget-description opacity-75">
							下降 <span class="text-success pl-1"><i class="bi bi-caret-down"></i> <span class="pl-1">21.8%</span></span>
						</div>
					</div>
					<div class="widget-chart-wrapper">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-chart">
					<div class="widget-chart-content">
						<div class="icon-wrapper rounded">
							<div class="icon-wrapper-bg bg-warning"></div>
							<i class="bi bi-list text-warning"></i>
						</div>
						<div class="widget-numbers ">
							<span>34343.12</span>
						</div>
						<div class="widget-subheading fs-6 pt-2 opacity-100 text-warning fw-bold">进账</div>
						<div class="widget-description opacity-75">
							<span class="text-warning pl-1"><i class="bi bi-caret-down"></i><span class="pl-1">21.8%</span></span>最近三十天内

						</div>
					</div>
					<div class="widget-chart-wrapper">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div id="areaChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="card main-card mb-3 widget-chart">
					<div class="widget-chart-content">
						<div class="icon-wrapper rounded">
							<div class="icon-wrapper-bg bg-danger"></div>
							<i class="bi bi-list text-danger"></i>
						</div>
						<div class="widget-numbers ">
							<span>$294</span>
						</div>
						<div class="widget-subheading fs-6 pt-2 opacity-100 text-danger fw-bold">订单量</div>
						<div class="widget-description opacity-75">
							下降 <span class="text-info pl-1"><i class="bi bi-caret-down"></i> <span class="pl-1">54.1%</span></span>
						</div>
					</div>
					<div class="widget-chart-wrapper">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<div id="areaChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="mb-3 card main-card">
					<div class=" responsive-center text-left card-header border-0">
						<div>
							<h5 class="menu-header-title text-capitalize text-success">Received Messages</h5>
						</div>
					</div>
					<div class="widget-chart widget-chart2 text-left pt-0">
						<div class="widget-chat-wrapper-outer">
							<div class="widget-chart-content">
								<div class="widget-chart-flex">
									<div class="widget-numbers">
										<div class="widget-chart-flex">
											<div class="text-success">
												<span>348</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget-chart-wrapper widget-chart-wrapper-lg he-auto opacity-100 m-0">
							<div id="lineChart1" style="height:250px;min-width:100%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 col-xl-4">
				<div class="mb-3 card main-card">
					<div class="responsive-center text-left card-header border-0">
						<div>
							<h5 class="menu-header-title text-capitalize text-danger">Sent Messages</h5>
						</div>
					</div>
					<div class="widget-chart widget-chart2 text-left pt-0">
						<div class="widget-chat-wrapper-outer">
							<div class="widget-chart-content">
								<div class="widget-chart-flex">
									<div class="widget-numbers">
										<div class="widget-chart-flex">
											<div class="text-danger">
												<span>425</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget-chart-wrapper widget-chart-wrapper-lg he-auto opacity-10 m-0">
                                    <div id="lineChart2" style="height:250px;min-width:100%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-4 col-xl-4">
				<div class="mb-3 card main-card bg-dark ">
					<div class="bg-dark responsive-center text-left card-header border-0">
						<div>
							<h5 class="menu-header-title text-capitalize text-warning">Inbox Total</h5>
						</div>
					</div>
					<div class="widget-chart widget-chart2 text-left pt-0">
						<div class="widget-chat-wrapper-outer">
							<div class="widget-chart-content">
								<div class="widget-chart-flex">
									<div class="widget-numbers">
										<div class="widget-chart-flex">
											<div class="text-warning">
												<span>274</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget-chart-wrapper widget-chart-wrapper-lg he-auto opacity-10 m-0">
                                    <div id="lineChart3" style="height:250px;min-width:100%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  ./widget-chart-->

	</section>
	<!-- /.content -->

	<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top"> <i class="fas fa-chevron-up"></i>
	</a>
</div>
<!-- /.content-wrapper -->
<script>
	$('#areaChart').echartx({
		grid : {
			bottom : 10,
			left : 10,
			right : 10,
			top : 60
		},
		color : [ '#16aaff' ],
		xAxis : {
			type : 'category',
			boundaryGap : false,
			show : false,
			data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
		},
		yAxis : {
			show : false,
			type : 'value'
		},
		series : [ {
			data : [ 670, 820, 932, 901, 934, 1290, 1330, 320 ],
			type : 'line',
			areaStyle : {},
			smooth : true
		} ]
	})

	$('#areaChart1').echartx({
		grid : {
			bottom : 10,
			left : 10,
			right : 10,
			top : 60
		},
		color : [ '#f7b924' ],
		xAxis : {
			type : 'category',
			boundaryGap : false,
			show : false,
			data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
		},
		yAxis : {
			show : false,
			type : 'value'
		},
		series : [ {
			data : [ 670, 820, 932, 901, 934, 1290, 1330, 320 ],
			type : 'line',
			areaStyle : {},
			smooth : true
		} ]
	})

	$('#areaChart2').echartx({
		grid : {
			bottom : 10,
			left : 10,
			right : 10,
			top : 60
		},
		color : [ '#3f6ad8' ],
		xAxis : {
			type : 'category',
			boundaryGap : false,
			show : false,
			data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
		},
		yAxis : {
			show : false,
			type : 'value'
		},
		series : [ {
			data : [ 670, 820, 932, 901, 934, 1290, 1330, 320 ],
			type : 'line',
			areaStyle : {},
			smooth : true
		} ]
	})
	
	$('#lineChart1').echartx({
	    grid:{top:10,bottom:10,left:10,right:10},
	    color:['#3ac47d'],
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
    show: false
  },
  yAxis: {
    type: 'value',
    show: false
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      smooth: true,
      lineStyle: {width:3}
    }
  ]
})

    $('#lineChart2').echartx({
        grid:{top:10,bottom:10,left:10,right:10},
        color:['#d92550'],
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
    show: false
  },
  yAxis: {
    type: 'value',
    show: false
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      smooth: true,
      lineStyle: {width:3}
    }
  ]
})

    $('#lineChart3').echartx({
        grid:{top:10,bottom:10,left:10,right:10},
        color:['#f7b924'],
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
    show: false
  },
  yAxis: {
    type: 'value',
    show: false
  },
  series: [
    {
      data: [820, 932, 901, 934, 1290, 1330, 1320],
      type: 'line',
      smooth: true,
      lineStyle: {width:3}
    }
  ]
})
</script>
{template pub/admin/main-footer.html}
